@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*shared styles*/
.display-flex{
      display: flex;
}

.text-primary{
      color:#FF900E;
}
/*dark 02*/
.text-gray{
     color: #424242;
}
/*dark 03*/
.text-light-gray{
      color: #727272;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);

}
 
.btn-primary{
      background-color:#FF900E ;
      color: #FFFFFF;
      padding: 21px 25px;
      font-size: 1.25rem;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      
}
.btn{
    margin-top: 20px; 
}

main{
     max-width: 1200px;
     margin: 0 auto;
}

main > section {
     margin-top: 130px;
}
/*header styles*/


/*navbar styles*/

.navbar{
     /*display: flex;*/
     justify-content: space-between;
     align-items: center;
}

.brand{
     font-size: 3rem;
     font-weight: 700;
}

.nav-item{
      list-style: none;
      margin-left: 30px;
}

.nav-link{
      text-decoration: none;
      font-size:1.25rem;
      font-weight: 500;
      line-height: 26px;
}

.navbar, .banner{
     max-width: 1400px;
      margin: 0 auto;
    
}

/*banner related styles*/
.banner{
     display: flex;
     flex-direction: column;
     gap: 30px;
     align-items: center;
     justify-content: center;
     padding: 20px 40px;
}
.banner-content{
      max-width: 862px;
      /*margin: 0 auto;*/
      text-align: center;
      margin-top: 32px;
      margin-bottom: 50px;
    
}

.banner-image{
      width: 100%;
       
    
}

.banner-title{
      font-size: 4rem;
      font-weight: 700;
}

.banner-description{
      font-size: 16px;
      line-height: 20px;
}
/*team and feature related styles*/
.teams{
    
     align-items: center;
}

.our-features{
     margin-left: 73px;
     max-width: 530px;
}

.section-title{
       font-size: 2.8rem;
       font-weight: 700;
       margin-bottom: 24px;
}



#quick-list{
     font-weight: 500;
}

/*feature section related styles*/
.features{
      gap: 20px;
}
.features .left, .features .right{
     width: 50%;
}
#feature-section-title{
        border-left: 5px solid #FF900E;
        padding-left: 21px;
}


.feature-card{
        padding: 30px;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
        margin-bottom: 20px;
        border-radius: 8px;
}

.feature-card .feature-title{
        font-weight: 600;
        font-size: 1.25rem;
      
}
.team-img-container{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 24px;
}

/*some facts related styles*/
.facts-container{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 124px;
       margin-top: 100px;

}
.fact-card{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
       border: 1px solid #FF900E;
       width: 240px;
       height: 240px;
       border-radius: 8px;
}

.fact-number{
     font-size: 2.8rem;
     font-weight: 600;
     margin-top: 10px;
     margin-bottom: 5px;
     color: #424242;
}

.fact-name{
       font-size: 1.25rem;
       font-weight: 600;
       margin: 10px;
       color: #727272;
}

.text-description{
        max-width: 540px;
}

/*sponsor related styles*/
.sponsor-info{
       max-width: 540px;
       margin: 50px auto;
       text-align: center;
}
.sponsor-companies{
       display: grid;
       grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
        
        filter: grayscale(100%);

}
/* responsive media query*/
/*navbar*/
@media screen and (max-width:576px) {
      .navbar, .nav-links,.teams {
          flex-direction: column;
      }

      .team-img-container, .facts-container,.sponsor-companies{
          grid-template-columns: repeat(1, 1fr);
      }
      
      .facts-container,.sponsor-companies{
             justify-items: center;
             gap: 24px; 
      }

     

       .fact{
             margin-left: 15px;
       }
      .our-features{
         margin-left: 20px;
      }
    }

    /*medium device*/

    @media screen and (min-width:576px) and (max-width: 992px) {
          .teams{
             flex-direction: column;
          }

          .our-features{
              margin: 50px auto;
          }
          .sponsor-companies,.facts-container{
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
                justify-items: center;
          }

          .fact{
             text-align: center;
             margin: 10px auto;
          }
    }